.collapse{
    margin-left: 15px;
}

.navbar {
    height: 100px;
    background-color: #222222;
}
.navbar .container-fluid p{
    font-family: 'Michroma', sans-serif;
    padding-top: 15px;
    color: #E0A800;
}

.d-flex {
    margin-right: 20px;
}
.nav-p{
    font-weight: 400;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
    color: #E0A800;
}
.nav-p:hover{
    color: #FFDBA4;
}
.logo{
    font-size: 20px;
}

.btn-user {
    border: 1px solid transparent;
    padding: 6px 15px; 
    background-color: #E0A800;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 500;
}
.nav-welcome{
    cursor: default;
    color: #e0a80060;
}